<section class="hero">

    <!-- These columns contain BG images -->
    <div class="container-fluid" role="presentation">
        <div class="row no-gutters">
            <div class="col-sm-4">
                <div class="bg bg-abstract-blue" style="background-image:url('{{ includePath }}/images/abstract-circles-header.jpg')">
                    <div class="bg bg-overlay"></div>
                </div><!-- .bg-abstract-blue -->
            </div><!-- .col-sm-4 -->
            <div class="col-sm-8 d-xs-none d-sm-block">
                <!-- 
                 * INSERT HERO IMAGE HERE 
                 * This is also the recommended Hero Image size
                -->
                <div class="bg bg-hero" style="background-image:url('https://picsum.photos/1000/900?random')">
                </div><!-- .bg-hero -->
            </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->
    
    <!-- This is the actual text -->
    <div class="container">
        <div class="hero__textarea">
            <h1 class="hero__title text-white">Belonging and Community Justice</h1>
            <p class="hero__lead text-white">At Emory University</p>
        </div><!-- .hero__textarea -->
    </div>

</section><!-- .hero -->

