{% extends "layout.njk" %} 
{% block head %}
<title>Homepage | {{ siteName }}</title>
{% endblock %} 
{% block content %}
<div id="header-gradient"></div>
<div id="main-content" tabindex="-1">
      <!-- The main page content -->
      
      <!-- Homepage Opener Options -->
      <div class="container-fluid">
            {% include "partials/homepage-header-options/homepage-opener-full-width-image.njk" %}
            {% include "partials/homepage-header-options/homepage-opener-carousel-full-width-image.njk" %}
            {% include "partials/homepage-header-options/homepage-opener-carousel-small-image.njk" %}
            {% include "partials/homepage-header-options/homepage-opener-abstract-and-image.njk" %}
      </div>
      

      <!-- Basic Page Content -->
      
      {% include "partials/basic-page-content.njk" %}
      {% include "partials/featured-content-blocks.njk" %}

      {% include "partials/facts.njk" %}

      {% include "partials/twoColumn-carousel.njk" %}

      {% include "partials/people.njk" %}

      {% include "partials/contact-single.njk" %}

      {% include "partials/events.njk" %}

      {% include "partials/contact.njk" %}

      {% include "partials/block.njk" %}

      {% include "partials/bio.njk" %}

      {% include "partials/accordion.njk" %}

      {% include "partials/staff.njk" %}

      {% include "partials/testimonial-carousel.njk" %}

      {% include "partials/tiles.njk" %}


      {% include "partials/overlay.njk" %}
      {% include "partials/overlay~center.njk" %}
      {% include "partials/overlay~right.njk" %}

      {% include "partials/timeline.njk" %}

      {% include "partials/cta.njk" %}
                  
      
</div>
{% endblock %}