{% extends "layout.njk" %} 
{% block head %}
<title>Interior Page | {{ siteName }}</title>
{% endblock %} 
{% block content %}
<div id="header-gradient" role="presentation"></div>
<main id="main-content" role="main" class="page page-interior">

    <div class="container">
        <div class="row justify-content-center">
                <div class="col-sm-8">
                    {% include "partials/snippets/breadcrumbs.njk" %}
                </div><!-- .col-sm-8 -->
        </div><!-- .row -->
    </div><!-- .container -->
        {% include "partials/basic-page-content.njk" %}
</main>
{% endblock %}