{% extends "layout.njk" %} 
{% block head %}
<title>Interior Page | {{ siteName }}</title>
{% endblock %} 
{% block content %}
<div id="header-gradient" role="presentation"></div>
<main id="main-content" role="main" class="page page-interior">

    <div class="container">
        {% include "partials/snippets/breadcrumbs.njk" %}
        <div class="row">
            <div class="col-lg-10">
                {% include "partials/bio.njk" %}
            </div><!-- .col-lg-10 -->
            <div class="col-lg-2">
                {% include "partials/sidebar-nav.njk" %}
            </div><!-- .col-lg-2 -->
        </div><!-- .row -->
    </div><!-- .container -->
</main>
{% endblock %}