<div class="row no-gutters">
    <div class="col-4">
        <img src="../_includes/images/abstract-small-header.jpg" class="img-fluid homepage-opener-abstract-small-image" alt="" />
    </div>
    <div class="col-8">
        <img src="../_includes/images/small-image-header.jpg" class="img-fluid homepage-opener-small-image-header" alt="" />
    </div>
</div>