
<div class="homepage-opener">
    <img src="../_includes/images/header-full-image-carousel.jpg" class="img-fluid homepage-opener-full-width-image" alt="" role="presentation" />
    <div class="opener-text opener-text-center">
        <h1>Belonging and <br />Community Justice</h1>
        <div class="opener-lead">At Emory University</div>
        <a href="#" class="btn-secondary btn">Learn More</a>
    </div>
</div>

