<div class="homepage-opener">
    <div class="row no-gutters">
        <div class="col-4">
            <img src="../_includes/images/abstract-small-header.jpg" class="img-fluid homepage-opener-abstract-small-image" alt="" />
        </div>
        <div class="col-8">
            <img src="../_includes/images/small-image-header.jpg" class="img-fluid homepage-opener-small-image-header" alt="" />
        </div>
        <div class="opener-text opener-text-left">
            <h1>Belonging and <br />Community Justice</h1>
            <div class="opener-lead">At Emory University</div>
            <a href="#" class="btn-primary btn">Learn More</a>
        </div>
    </div>
</div>
