<blockquote>
    These ancient Martians had been a highly cultivated and literary race, anengung hoohng nturies of readjustment.
    <footer>
        &ndash; <cite>Full Name <br>10-10-20</cite>
    </footer>
</blockquote>