<div class="row justify-content-sm-center">
    <div class="col-lg-8">

        <h2>
            <span class="section-label">Section Label</span>
            <span class="section-title">Title of the Section</span>
        </h2>

    </div><!-- .col-lg-8 -->
</div><!-- .row -->

<br />