<!-- Fonts -->
<link href="{{{ includePath }}}css/fonts.css" rel="stylesheet" >

<!-- Bootstrap -->
<link href="{{{ includePath }}}css/bootstrap.css" rel="stylesheet" >

<!-- Icons -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >

<!-- Libs -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" rel="stylesheet" >

<!-- Site Stylesheet -->
<link href="{{{ includePath }}}css/site.css" rel="stylesheet" >