.card {
    background-color: $grey;
    border: none;
    margin-bottom: 30px;
    .card-header {
        background-color: #fff;
        a {
            position: relative;
            width: 100%;
            display: block;
            color: $link-color;
            &:after {
                font-family: 'Fontawesome';
                content: '\f068';
                position: absolute;
                right: 0;
            }
            &.collapsed {
                color: #333;
                &:after {
                    content: '\f067'
                }
            }
        }
    }
}