.cta {
    margin: 0 auto;
    padding: 0;
    .cta__action,
    .cta__quicklinks {
        padding: 60px 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .cta__action {
        text-align: center;
        background-color: $orange;
        
    }
    .cta__quicklinks {
        background-color: $medium-blue-wcag;
        color: #fff;
        a {
            color: #fff
        }
    }
    .cta__heading-action {
        font-size: 2rem;
        font-family: 'ConduitRegular';
        letter-spacing: initial;
        text-transform: uppercase;
    }
    .cta__heading-quicklinks {
        font-size: 1.25rem;
        font-family: $serif;
        text-align: left;
        color: #fff;
    }
    .list {
        min-width:200px;
    }
}

@media (min-width:768px) {
    .cta {
        .cta__action,
        .cta__quicklinks {
            min-height: 450px; 
        }
        .cta__heading-quicklinks {
            min-width:300px;
        }
        
    }
}

// IE 10+
@media all and (-ms-high-contrast: none), 
(-ms-high-contrast: active) {
    @media (min-width:868px) {
        .cta {
            .cta__action,
            .cta__quicklinks {
                &.center {padding:120px 30px 0 30px!important; }
            }
            .list {width:400px}
        }
        
    }
 }