// ORANGE OPTION
.featured-content-orange {
    background-color: $grey;
    padding: 70px 0;
    img {
        position: relative;
        z-index: 9;
    }
    .featured-content-text {
        h3 {
            font-size: 36px;
            margin-bottom: 10px;
            text-align: left;
            margin-top: 70px;
        }
        p {
            line-height: 1.5;
        }
        .btn-primary {
            background-color: #ffa511;
            border-radius: 0;
            border-color: transparent;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
    
    .featured-content-box {
        margin-bottom: 135px;
    }
    .featured-content-left {
        position: relative;
        .small-orange-box {
            height: 26px;
            width: 26px;
            background-color: $orange;
            margin-bottom: 50px;
            position: absolute;
            top:0;
            left: 0;
        }
        .orange-rectangle {
            position: absolute;
            right:0;
            bottom: 260px;
            border: 10px solid $orange;
            height: 200px;
            width: 200px;
        }
    }
    .featured-content-right {
        position: relative;
        .small-orange-box {
            height: 26px;
            width: 26px;
            background-color: $orange;
            margin-bottom: 50px;
            position: absolute;
            top:0;
            right: 0;
        }
        .orange-rectangle {
            position: absolute;
            left:0;
            bottom: 120px;
            border: 10px solid $orange;
            height: 200px;
            width: 200px;
        }
        .featured-content-box {
            margin-left: 8.33%;
        }
    }
}

// BLUE OPTION
.featured-content-blue {
    .featured-content-left {
        margin-bottom: 120px;
        .img-container {
            position: absolute;
            right: 0;
        }
    }
    .featured-content-right {
        margin-bottom: 80px;
        .img-container {
            position: absolute;
            left: 0;
        }
        .featured-content-right-content-container {
            margin-left: 41.76%;
        }
    }
    .featured-content-text {
        background-color: $emory-blue;
        color: white;
        padding: 50px;
        position: relative;
        z-index: 9;
        margin-top: 10%;
        h3 {
            font-size: 25px;
            color: white;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 1.5;
        }
        .btn-primary {
            background-color: #ffa511;
            border-radius: 0;
            border-color: transparent;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}