// NAVIGATION
.navbar-campus-life {
    padding-top: 30px;
}
.navbar-campus-life.bg-light {
    background-color: transparent !important;
}
.bg-light {
    background-color: transparent !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    margin-right: 20px;
    font-size: 18px;
    padding-top: 0;
    @media only screen and (min-width : 992px) and (max-width : 1199px) {
        margin-right: 14px;
        font-size: 16px;
    }
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}






#header-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    height: 122px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 4;
}

.scrolling {
    background-color: rgb(26,31,44);
    background-color: rgba(26,31,44,.8);
    padding-top: 30px;
    padding-bottom: 10px;
}

// HOMEPAGE OPENER
.homepage-opener-full-width-image, .homepage-opener-abstract-image, .homepage-opener-abstract-small-image, .homepage-opener-small-image-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 1000px;
    margin: auto;
}
#homepage-opener-carousel-full-width {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 1000px;
        margin: auto;
    }
}
#homepage-opener-carousel-small-image {
    position: relative;
    margin-top: -102%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 1000px;
        margin: auto;
    }
    @media only screen and (min-width : 1500px) {
        margin-top: -102%;
    }
    @media only screen and (min-width : 1300px) and (max-width : 1499px) {
        margin-top: -95%;
    }
    @media only screen and (min-width : 320px) and (max-width : 1299px) {
        margin-top: -89%;
    }
}

