@font-face {
    font-family: 'rasmusregular';
    src: url('../fonts/Rasmus-Regular-webfont.eot');
    src: url('../fonts/Rasmus-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Rasmus-Regular-webfont.woff2') format('woff2'), url('../fonts/Rasmus-Regular-webfont.woff') format('woff'), url('../fonts/Rasmus-Regular-webfont.ttf') format('truetype'), url('../fonts/Rasmus-Regular-webfont.svg#rasmusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rasmusbold';
    src: url('../fonts/Rasmus-Bold-webfont.eot');
    src: url('../fonts/Rasmus-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Rasmus-Bold-webfont.woff2') format('woff2'), url('../fonts/Rasmus-Bold-webfont.woff') format('woff'), url('../fonts/Rasmus-Bold-webfont.ttf') format('truetype'), url('../fonts/Rasmus-Bold-webfont.svg#rasmusbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rasmusitalic';
    src: url('../fonts/Rasmus-Italic-webfont.eot');
    src: url('../fonts/Rasmus-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Rasmus-Italic-webfont.woff2') format('woff2'), url('../fonts/Rasmus-Italic-webfont.woff') format('woff'), url('../fonts/Rasmus-Italic-webfont.ttf') format('truetype'), url('../fonts/Rasmus-Italic-webfont.svg#rasmusitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rasmusbold_italic';
    src: url('../fonts/Rasmus-BoldItalic-webfont.eot');
    src: url('../fonts/Rasmus-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Rasmus-BoldItalic-webfont.woff2') format('woff2'), url('../fonts/Rasmus-BoldItalic-webfont.woff') format('woff'), url('../fonts/Rasmus-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/Rasmus-BoldItalic-webfont.svg#rasmusbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}