//
// Variables for Site
// --------------------------------------------------

//Fonts
// $primary-font-family: 'Open Sans', sans-serif;

// $secondary-font-family: Georgia, Times, "Times New Roman", serif;

// $tertiary-font-family: 'PT Sans', sans-serif;

//Colors
$grey: #f2f4f8;
$medium-blue: #007dbf;
$emory-blue: #091e79;
$orange: #ffa511;
$table-background: #f9f9f9;

//Display Values Values
$sm-size: 576px; 
$md-size: 768px;
$lr-size: 992px;
$xl-size: 1200px;
$ul-size: 1600px;

