<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 m-auto">
    
                {% include "partials/snippets/section-title~centered.njk" %}
                <div class="wysiwyg">
                    <p class="lead">Diam felis laoreet, a sapien nunc Fusce non Morbi Nam fringilla arcu. Sed ex ince os dolor. Vestib id eleifend nostra, gravida commodo laoreet, necn ibh felis laoreet, a sapien nuncusce non Morbi Nam fringilla Estib id eleifend nostra.</p>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet doloruip ex ea commodo consequat.Eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulleros et accumsan et iusto odio dignissim qui blandit praesent. orem ipsu. nibh euismod lit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iu.</p>
                    <h4>Lorem ipsum</h4>
                    <p class="double-column-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet doloruip ex ea commodo consequat.Eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulleros et accumsan et iusto odio dignissim qui blandit praesent. orem ipsu. nibh euismod lit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iu.</p>
                </div><!-- .wysiwyg -->
                
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Dates</td>
                            <th>Event</td>
                            <th>Location</td>
                        </tr>
                        <tr>
                            <td>Feb 2</td>
                            <td>Morehouse College Graduate School Day&nbsp;</td>
                            <td>Atlanta, GA</td>
                        </tr>
                        <tr>
                            <td>Feb 2-4</td>
                            <td>Louis Stokes Alliance Peach State Conference</td>
                            <td>Savannah, GA</td>
                        </tr>
                        <tr>
                            <td>Feb 20-22</td>
                            <td>Youth Motivation Task Force Tour (Xavier University, Dillard University, Louisiana State University - Baton Rouge, Tulane University)</td>
                            <td>New Orleans, LA</td>
                        </tr>
                        <tr>
                            <td>March 10-13</td>
                            <td>University of Maryland McNair Conference</td>
                            <td>College Park, MD</td>
                        </tr>
                        <tr>
                            <td>March 17</td>
                            <td>Gates Millennium Scholars</td>
                            <td>Houston, TX</td>
                        </tr>
                        <tr>
                            <td>March 23-24</td>
                            <td>National Black Graduate Student Association Conference</td>
                            <td>Charlotte, NC</td>
                        </tr>
                        <tr>
                            <td>April 6-8</td>
                            <td><a href="http://www.cur.org/ncur_2017/" target="_blank">National Council on Undergraduate Research</a></td>
                            <td>Memphis, TN</td>
                        </tr>
                        <tr>
                            <td>April 7-8</td>
                            <td>Yale Bouchet Honor Society Meeting</td>
                            <td>New Haven, CT</td>
                        </tr>
                        <tr>
                            <td>April 11</td>
                            <td>Georgia Gwinett College</td>
                            <td>Atlanta, GA</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>    
        </div> 
    </div>
</section>
