<section class="section bio">
    <div class="container">
        <div class="row justify-content-center">
            
            <div class="col-lg-6">
                <h2 class="heading-group">
                    <span class="section-label">Bio</span>
                    <span class="section-title">Bill Newnam, M.A.</span>
                </h2>
                <p class="lead">Associate Director of Forensics</p>
                <p>Dynamically redefine inexpensive best practices before interdependent networks. Competently incentivize open-source information before dynamic leadership skills. Assertively embrace robust markets via ethical catalysts for change. Completely negotiate long-term high-impact partnerships without clicks-and-mortar leadership. Progressively maintain revolutionary systems rather than innovative growth strategies.</p>
                <ul class="list list-horizontal">
                    <li><a href="#">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                        bnewnam@emory.edu
                    </a></li>
                    <li><a href="#">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        (555) 555-5555
                    </a></li>
                </ul><!-- .list-horizontal -->
            </div><!-- .col-lg-6 -->

            <div class="col-lg-4">
                <img src="https://picsum.photos/300/400?random" alt="300x400" />
            </div><!-- .col-lg-4 -->

        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .bio -->