<section class="bio" aria-label="Featured People">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-8">
                <div class="bio__item align-items-center justify-content-center">
                    <div class="bio__img">
                        <img class="bio__thumbnail img-fluid" alt="" src="https://picsum.photos/225/127?random" />
                    </div><!-- .bio__img -->
                    <div class="bio__textarea">
                        <h2 class="bio__name">Susan B. Anthony</h2>
                        <p class="bio__title">Director of Events</p>
                        <p>Authoritatively impact functional networks for principle-centered ideas. Continually drive magnetic web-readiness and low-risk high-yield process.</p>
                    </div><!-- .bio__textarea -->
                </div><!--.bio__item -->
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4 col-md-8">
                <div class="bio__item align-items-center justify-content-center">
                    <div class="bio__img">
                        <img class="bio__thumbnail img-fluid" alt="" src="https://picsum.photos/225/127?random" />
                    </div><!-- .bio__img -->
                    <div class="bio__textarea">
                        <h2 class="bio__name">Susan B. Anthony</h2>
                        <p class="bio__title">Director of Events</p>
                        <p>Authoritatively impact functional networks for principle-centered ideas. Continually drive magnetic web-readiness and low-risk high-yield process.</p>
                    </div><!-- .bio__textarea -->
                </div><!--.bio__item -->
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4 col-md-8">
                <div class="bio__item align-items-center justify-content-center">
                    <div class="bio__img">
                        <img class="bio__thumbnail img-fluid" alt="" src="https://picsum.photos/225/127?random" />
                    </div><!-- .bio__img -->
                    <div class="bio__textarea">
                        <h2 class="bio__name">Susan B. Anthony</h2>
                        <p class="bio__title">Director of Events</p>
                        <p>Authoritatively impact functional networks for principle-centered ideas. Continually drive magnetic web-readiness and low-risk high-yield process.</p>
                    </div><!-- .bio__textarea -->
                </div><!--.bio__item -->
            </div><!-- .col-lg-4 -->

        </div><!-- .row -->
    </div><!-- .container -->

</section><!-- .bio -->