<section class="blocks">
    <div class="row no-gutters">
        
        <div class="col-md-6">
            <div class="block block-medium-blue">
                <h3 class="block__title">Test Title Here</h3>
                <p>Quickly optimize backend partnerships rather than sustainable e-business. Enthusiastically supply team building quality vectors through holistic collaboration and idea-sharing. Authoritatively deliver fully researched technology whereas distributed innovation. Collaboratively mesh high-payoff vortals with visionary e-commerce. Dynamically reconceptualize.</p>
                <a class="btn btn-lg btn-arrow" href="#">Learn More</a>
            </div><!-- .block -->
        </div><!-- .col-md-6 --> 
        
        <div class="col-md-6">
            <div class="block block-emory-blue">
                <h3 class="block__title">Test Title Here</h3>
                <p>Quickly optimize backend partnerships rather than sustainable e-business. Enthusiastically supply team building quality vectors through holistic collaboration and idea-sharing. Authoritatively deliver fully researched technology whereas distributed innovation. Collaboratively mesh high-payoff vortals with visionary e-commerce. Dynamically reconceptualize.</p>
                <a class="btn btn-lg btn-arrow" href="#">Learn More</a>
            </div><!-- .block -->
        </div><!-- .col-md-6 -->

        <div class="col-md-6">
            <div class="block block-orange">
                <h3 class="block__title">Test Title Here</h3>
                <p>Quickly optimize backend partnerships rather than sustainable e-business. Enthusiastically supply team building quality vectors through holistic collaboration and idea-sharing. Authoritatively deliver fully researched technology whereas distributed innovation. Collaboratively mesh high-payoff vortals with visionary e-commerce. Dynamically reconceptualize.</p>
                <a class="btn btn-lg btn-arrow" href="#">Learn More</a>
            </div><!-- .block -->
        </div><!-- .col-md-6 -->

        <div class="col-md-6">
            <div class="block block-grey">
                <h3 class="block__title">Test Title Here</h3>
                <p>Quickly optimize backend partnerships rather than sustainable e-business. Enthusiastically supply team building quality vectors through holistic collaboration and idea-sharing. Authoritatively deliver fully researched technology whereas distributed innovation. Collaboratively mesh high-payoff vortals with visionary e-commerce. Dynamically reconceptualize.</p>
                <a class="btn btn-lg btn-arrow" href="#">Learn More</a>
            </div><!-- .block -->
        </div><!-- .col-md-6 -->

    </div><!-- .row -->
</section><!-- .blocks -->