<section class="contact section-grey">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-8">

                <h2>
                    <span class="section-label">Contact Block</span>
                    <span class="section-title">We Support Each Other</span>
                </h2>

            </div><!-- .col-lg-8 -->
        </div><!-- .row -->

        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-8">
                <div class="contact__item">
                    <div class="contact__img">
                        <img class="contact__thumbnail img-fluid" alt="350x197" src="https://picsum.photos/350/197?random" />
                    </div><!-- .contact__img -->
                    <div class="contact__textarea">
                        <h2 class="contact__name">Susan B. Anthony</h2>
                        <p class="contact__title">Director of Events</p>
                        <hr>
                        <ul class="list list-iconlist">
                            <li><a href="#">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                susan@emory.edu
                            </a></li>
                            <li><a href="#">
                                <span class="fa fa-mobile" aria-hidden="true"></span>
                                (555) 555-5555
                            </a></li>
                            <li><a href="#">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                                <address>
                                12345 Baker St.<br />
                                Atlanta, <abbr title="Georgia">GA</abbr> 30324
                                </address>
                            </a></li>
                        </ul>
                    </div><!-- .contact__textarea -->
                </div><!--.contact__item -->
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4 col-md-8">
                <div class="contact__item">
                    <div class="contact__img">
                        <img class="contact__thumbnail img-fluid" alt="350x197" src="https://picsum.photos/350/197?random" />
                    </div><!-- .contact__img -->
                    <div class="contact__textarea">
                        <h2 class="contact__name">Susan B. Anthony</h2>
                        <p class="contact__title">Director of Events</p>
                        <hr>
                        <ul class="list list-iconlist">
                            <li><a href="#">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                susan@emory.edu
                            </a></li>
                            <li><a href="#">
                                <span class="fa fa-mobile" aria-hidden="true"></span>
                                (555) 555-5555
                            </a></li>
                            <li><a href="#">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                                <address>
                                12345 Baker St.<br />
                                Atlanta, <abbr title="Georgia">GA</abbr> 30324
                                </address>
                            </a></li>
                        </ul>
                    </div><!-- .contact__textarea -->
                </div><!--.contact__item -->
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4 col-md-8">
                <div class="contact__item">
                    <div class="contact__img">
                        <img class="contact__thumbnail img-fluid" alt="350x197" src="https://picsum.photos/350/197?random" />
                    </div><!-- .contact__img -->
                    <div class="contact__textarea">
                        <h2 class="contact__name">Susan B. Anthony</h2>
                        <p class="contact__title">Director of Events</p>
                        <hr>
                        <ul class="list list-iconlist">
                            <li><a href="#">
                                <span class="fa fa-envelope" aria-hidden="true"></span>
                                susan@emory.edu
                            </a></li>
                            <li><a href="#">
                                <span class="fa fa-mobile" aria-hidden="true"></span>
                                (555) 555-5555
                            </a></li>
                            <li><a href="#">
                                <span class="fa fa-map-marker" aria-hidden="true"></span>
                                <address>
                                12345 Baker St.<br />
                                Atlanta, <abbr title="Georgia">GA</abbr> 30324
                                </address>
                            </a></li>
                        </ul>
                    </div><!-- .contact__textarea -->
                </div><!--.contact__item -->
            </div><!-- .col-lg-4 -->

        </div><!-- .row -->
    </div><!-- .container -->

</section><!-- .contact -->