<section class="section contact contact-single overlay overlay-black">

    <img class="overlay-img" src="https://picsum.photos/1920/1080?random" alt="" role="presentation"/>

    <div class="container">
        <div class="row no-gutters justify-content-center">
            
            <div class="col-lg-5 col-sm-10">
                <div class="contact__textarea">

                    <h2 class="heading-group">
                        <span class="section-label">Contact Us</span>
                        <span class="section-title">Get involved or Have a Question?</span>
                    </h2>

                    <ul class="list">
                        <li><strong>Email:</strong> <a href="#">emailaddress@emory.edu</a></li>
                        <li><strong>Phone:</strong> (555) 555-5555</li>
                        <li><strong>Fax:</strong> (444) 444-4444</li>
                        <li>
                            <strong>Address:</strong> 
                            <address>
                            12345 Lollipop Circle,<br>
                            Denver, <abbr title="Colorado">CO</abbr> 76845
                            </address>
                        </li>
                    </ul>

                </div><!-- .contact__textarea -->
            </div><!-- .col-lg-5 -->

            <div class="col-lg-5 col-sm-10" role="presentation">
                <div class="contact__icon">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div><!-- .contact__icon -->
            </div><!-- .col-lg-5 -->

        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .contact-single -->