<section class="section cta">
    <div class="container-fluid">

        <div class="row no-gutters">

            <div class="col-lg-6">
                <div class="cta__action ms-center">
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-8 ms-flex-fix">
                            <h2 class="cta__heading-action">Interested in Joining our Community?</h2>
                            <br>
                            <a href="#" class="btn btn-white">Get Started</a>
                        </div><!-- .col-sm-8 -->
                    </div><!-- .row -->
                </div><!-- .cta__action -->
            </div><!-- .col-lg-6 -->

            <div class="col-lg-6">
                <div class="cta__quicklinks ms-center">
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-12 ms-flex-fix">
                            <h3 class="cta__heading-quicklinks">Quick Links</h3>
                            <div class="row">
                                <div class="col-sm-6 ms-flex-fix">
                                    {% include "partials/snippets/quicklinks.njk" %}
                                </div><!-- .col-sm-6 -->
                                <div class="col-sm-6 ms-flex-fix">
                                    {% include "partials/snippets/quicklinks.njk" %}
                                </div><!-- .col-sm-6 -->
                            </div><!-- .row -->
                        </div><!-- .col-sm-12 -->
                    </div><!-- .row -->
                   
                </div><!-- .cta__quicklinks -->
            </div><!-- .col-lg-6 -->

        </div><!-- .row -->

    </div><!-- .container-fluid -->
</section><!-- .cta -->