<p class="double-column-text">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet doloruip ex ea commodo consequat.Eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulleros et accumsan et iusto odio dignissim qui blandit praesent. orem ipsu. nibh euismod lit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iu.
</p>