<section class="events">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-8">

                <h2 class="section-title">
                    Get Involved in the Community
                </h2>
                <p class="text-center">Objectively disintermediate client-centered technology.</p>
                <br />

            </div><!-- .col-lg-8 -->
        </div><!-- .row -->

        <div class="row events-row">

            <div class="col-lg-4">
                <a class="current events__item" href="#">
                    <h3 class="events__title">This is an Event Title</h3>
                    <div class="events__date">
                        <span>18</span>
                        <span>MON</span>
                    </div><!-- .events__date -->
                    <p>Synergistically initiate high standards in users before granular platforms. Distinctively parallel task stand-alone solutions without business resources. Completely foster wireless opportunities after customer directed.</p>
                    <button role="button" class="btn btn-arrow" href="#">View Event</button>
                </a><!-- .events__item -->
                
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4">
                <a class="events__item" href="#">
                    <h3 class="events__title">This is an Event Title</h3>
                    <div class="events__date">
                        <span>18</span>
                        <span>MON</span>
                    </div><!-- .events__date -->
                    <p>Synergistically initiate high standards in users before granular platforms. Distinctively parallel task stand-alone solutions without business resources. Completely foster wireless opportunities after customer directed.</p>
                    <button role="button" class="btn btn-arrow" href="#">View Event</button>
                </a><!-- .events__item -->
                
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4">
                <a class="events__item" href="#">
                    <h3 class="events__title">This is an Event Title</h3>
                    <div class="events__date">
                        <span>18</span>
                        <span>MON</span>
                    </div><!-- .events__date -->
                    <p>Synergistically initiate high standards in users before granular platforms. Distinctively parallel task stand-alone solutions without business resources. Completely foster wireless opportunities after customer directed.</p>
                    <button role="button" class="btn btn-arrow" href="#">View Event</button>
                </a><!-- .events__item -->
                
            </div><!-- .col-lg-4 -->

        </div><!-- .row -->

        <br>

        <div class="row justify-content-sm-center">
            <div class="col-md-5 col-lg-3">
                <a href="#" class="btn btn-sm btn-secondary btn-center btn-solid">View all Events</a>
            </div><!-- .col-md-5 -->
        </div><!-- .row -->
        
    </div><!-- .container -->
</section><!-- .events -->