<section class="facts">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-6">

                <h2 class="heading-group">
                    <span class="section-label">Quick Facts</span>
                    <span class="section-title">Belonging and Community Justice at Emory University</span>
                </h2>

                <hr class="divider">

                <p>Completely communicate value-added testing procedures before high-quality e-business. Collaboratively engage timely methodologies with worldwide intellectual capital.</p>

            </div><!-- .col-lg-6 -->

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fact">
                            <strong class="fact__stat">125</strong>
                            <span class="fact__desc">Phosfluorescently envisioneer wireless</span>
                        </div><!-- .fact -->
                    </div><!-- .col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="fact">
                            <strong class="fact__stat">100</strong>
                            <span class="fact__desc">Appropriately empower backend</span>
                        </div><!-- .fact -->
                    </div><!-- .col-sm-6 -->
                </div><!-- .row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="fact">
                            <strong class="fact__stat">9193</strong>
                            <span class="fact__desc">Competently initiate error-free</span>
                        </div><!-- .fact -->
                    </div><!-- .col-sm-6 -->
                    <div class="col-sm-6">
                        <div class="fact">
                            <strong class="fact__stat">9.5</strong>
                            <span class="fact__desc">Quickly parallel task</span>
                        </div><!-- .fact -->
                    </div><!-- .col-sm-6 -->
                </div><!-- .row -->
            </div><!-- .col-lg-4 -->
        </div><!-- .row -->

        <br />

        <div class="row justify-content-sm-center">
            <div class="col-md-5 col-lg-3">
                <a href="#" class="btn btn-sm btn-secondary btn-center btn-solid">View More Facts</a>
            </div><!-- .col-md-5 -->
        </div><!-- .row -->
        
    </div><!-- .container -->
</section><!-- .facts -->