<section class="section">
    <div class="container-fluid">
        <div class="featured-content-orange">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-8 m-auto">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <div class="small-orange-box"></div>
                                        <div class="featured-content-text">
                                            <h3>Belonging and Community Justice</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipis sed diam nonummy nibh euismod tincidunt utet doe magna aliquam erat volutpat. Ut wisi  nisl ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetuer adipis sed diam nonummy nibh euismod tincidunt utet doe magna aliquam erat volutpat. Ut wisi  nisl ut aliquip ex ea commodo Lorem ipsum dolor sit amet.</p>
                                            <a href="#" class="btn-primary btn">Learn More</a>
                                        </div>
                                    </div>    
                                    <div class="col-12 col-sm-5">
                                        <img src="../_includes/images/featured-content-1.jpg" class="img-fluid" alt="alt text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-sm-5">
                                        <img src="../_includes/images/featured-content-1.jpg" class="img-fluid" alt="alt text">
                                    </div>  
                                    <div class="col-12 col-sm-6">
                                        <div class="small-orange-box"></div>
                                        <div class="featured-content-text">
                                            <h3>Belonging and Community Justice</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetuer adipis sed diam nonummy nibh euismod tincidunt utet doe magna aliquam erat volutpat. Ut wisi  nisl ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetuer adipis sed diam nonummy nibh euismod tincidunt utet doe magna aliquam erat volutpat. Ut wisi  nisl ut aliquip ex ea commodo Lorem ipsum dolor sit amet.</p>
                                            <a href="#" class="btn-primary btn">Learn More</a>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>