<section class="section section-grey featured">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row featured__row align-items-center justify-content-center">
                    <div class="col-sm-6">
                        <div class="featured__item featured__item-right">
                            <img class="featured__img img-fluid" src="https://picsum.photos/275?random" alt="275x275">
                        </div><!-- .featured__item -->
                    </div><!-- .col-sm-6 -->
                    <div class="col-sm-6">
                        <h2>Center for Women at Emory</h2>
                        <p>CWE provides the best possible environment for women as students, scholars, and employees by advocating for gender equity throughout the University. We provide resources and skill-building opportunities and bring faculty, students, practitioners, activists, and others together to examine gender issues and work toward ethical solutions.</p>
                        <a href="#" class="btn btn-secondary" title="Read More">Read More</a>
                    </div><!-- .col-sm-6 -->
                </div><!-- .featured__row -->
                <div class="row featured__row align-items-center justify-content-center">
                    <div class="col-sm-6 order-sm-2">
                        <div class="featured__item featured__item-left">
                            <img class="featured__img img-fluid" src="https://picsum.photos/275?random" alt="275x275">
                        </div><!-- .featured__item -->
                    </div><!-- .col-sm-6 -->
                    <div class="col-sm-6 order-sm-1">
                        <h2>Center for Women at Emory</h2>
                        <p>CWE provides the best possible environment for women as students, scholars, and employees by advocating for gender equity throughout the University. We provide resources and skill-building opportunities and bring faculty, students, practitioners, activists, and others together to examine gender issues and work toward ethical solutions.</p>
                        <a href="#" class="btn btn-secondary" title="Read More">Read More</a>
                    </div><!-- .col-sm-6 -->
                </div><!-- .featured__row -->
            </div><!-- .col-md-10 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>