<footer id="footer">
    <div class="container-fluid">
        <img src="../_includes/images/footer-abstract.jpg" class="img-fluid footer-abstract" alt="abstract image" />
        <div class="footer-container-absolute">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="../_includes/images/emory-campus-life-logo.png" alt="Emory University Campus Life Logo" class="img-fluid">
                                <p><span class="fa fa-map-marker" aria-hidden="true"></span>1762 Clifton Rd, Atlanta, GA 30322</p>
                                <a href="mailto:info@emory.edu"><p><span class="fa fa-paper-plane-o" aria-hidden="true"></span>info@emory.edu</p></a>
                                <a href="tel:505-555-5555"></a><p><span class="fa fa-mobile" aria-hidden="true"></span>555-555-5555</p>
                            </div>
                            <div class="col-sm-2">
                                <h4>CASAA</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Get Involved</a></li>
                                </ul>
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p><span class="fa fa-twitter" aria-hidden="true"></span>Twitter</p>
                                        <p><span class="fa fa-google-plus" aria-hidden="true"></span>Google+</p>
                                        <p><span class="fa fa-instagram" aria-hidden="true"></span>Instagram</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p><span class="fa fa-facebook" aria-hidden="true"></span>Facebook</p>
                                        <p><span class="fa fa-linkedin" aria-hidden="true"></span>Linked In</p>
                                        <p><span class="fa fa-youtube-play" aria-hidden="true"></span>YouTube</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>