<footer id="footer" class="section-emory-blue">
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="footer__logo"  src="../_includes/images/eu-campus-life-white.svg" alt="Emory University Campus Life">
                    
                    <ul class="list list-iconlist">
                        <li><a href="#">
                            <span class="fa fa-envelope" aria-hidden="true"></span>
                            susan@emory.edu
                        </a></li>
                        <li><a href="#">
                            <span class="fa fa-mobile" aria-hidden="true"></span>
                            (555) 555-5555
                        </a></li>
                        <li><a href="#">
                            <span class="fa fa-map-marker" aria-hidden="true"></span>
                            <address>
                            12345 Baker St. 
                            Atlanta, <abbr title="Georgia">GA</abbr> 30324
                            </address>
                        </a></li>
                    </ul>
                    <br>
                </div><!-- .col-md-6 -->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                           
                            <ul class="list" aria-label="Footer Menu">
                                <li><a href="#">List Item</a></li>
                                <li><a href="#">List Item</a></li>
                                <li><a href="#">List Item</a></li>
                                <li><a href="#">List Item</a></li>
                                <li><a href="#">List Item</a></li>
                                <li><a href="#">List Item</a></li>
                            </ul>
                        </div><!-- .col-sm-6 -->
                        <div class="col-sm-6">
                            
                            <ul class="list list-horizontal" aria-label="Footer Menu">
                                <li><a href="#">
                                    <span class="fa fa-envelope" aria-hidden="true"></span>
                                    List Item
                                </a></li>
                                <li><a href="#">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                    List Item
                                </a></li>
                                <li><a href="#">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                    List Item
                                </a></li>
                                <li><a href="#">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                    List Item
                                </a></li>
                            </ul>
                        </div><!-- .col-sm-6 -->
                    </div><!-- .row -->
                </div><!-- .col-md-6 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .footer-main -->
    <div class="post-footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    Copyright Emory University blah blah blah &copy; 2017
                </div><!-- .col-md-6 -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .post-footer -->
</footer>