<!-- Fonts -->
<link 
    href="{{ includePath }}css/fonts.css" 
    rel="stylesheet" />
<link 
    href="//fonts.googleapis.com/css?family=Libre+Baskerville:400i|PT+Sans+Narrow:700|Work+Sans:300,500,600" 
    rel="stylesheet" />

<!-- jQuery -->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" 
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
    crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link 
    href="{{ includePath }}css/bootstrap.css" 
    rel="stylesheet" />

<!-- Icons -->
<link
    href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
    rel="stylesheet" 
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
    crossorigin="anonymous" />

<!-- Slick Carousel -->
<link 
    rel="stylesheet" 
    href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" 
    integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" 
    crossorigin="anonymous" />

<!-- Owl Carousel -->
<link 
    rel="stylesheet" 
    href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" 
    integrity="sha256-AWqwvQ3kg5aA5KcXpX25sYKowsX97sTCTbeo33Yfyk0=" 
    crossorigin="anonymous" />
<link 
    rel="stylesheet" 
    href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css" 
    integrity="sha256-KWs9jp+jZzOZmmnW5jC8Y2HqI9rajJig5I00un99DtI=" 
    crossorigin="anonymous" />

<!-- Swiper Carousel -->
<link 
    rel="stylesheet" 
    href="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/css/swiper.css" 
    integrity="sha256-eymwvqhkGM66D+iGYV2PnCassAgD5k7x/Ea9zUgBwmU="
    crossorigin="anonymous" />

<!-- Site Stylesheet -->
<link 
    href="{{ includePath }}css/site.css" 
    rel="stylesheet" />