<header id="header">
    <nav class="navbar-campus-life navbar navbar-expand-lg fixed-top">
        <div class="container ">
            <a class="navbar-brand" href="#">
                {% include "partials/snippets/logo.njk" %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#campusLifeNav" aria-controls="campusLifeNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="campusLifeNav">
                <ul class="navbar-nav ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Student Involvement <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Engagement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Belonging</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Barkley Forum</a>
                    </li>
                </ul>
            </div>
        </nav> 
    </div>
</header>