<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" 
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

<!-- 
 *
 Include all compiled plugins (below), or include individual files as needed 
 *
-->

<!-- Popper -->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" 
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" 
    crossorigin="anonymous"></script>

<!-- Bootstrap -->
<script
    src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" 
    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" 
    crossorigin="anonymous"></script>

<!-- Slick Carousel -->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" 
    integrity="sha256-DHF4zGyjT7GOMPBwpeehwoey18z8uiz98G4PRu2lV0A=" 
    crossorigin="anonymous"></script>

<!-- Owl Carousel  -->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js" 
    integrity="sha256-s5TTOyp+xlSmsDfr/aZhg0Gz+JejYr5iTJI8JxG1SkM=" 
    crossorigin="anonymous"></script>

<!-- Swiper Carousel -->
<script 
    src="//cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.6/js/swiper.min.js" 
    integrity="sha256-EHpRG0nEomvPPrRinbYe3eCJgu1yWODlyNN4izGpMzY=" 
    crossorigin="anonymous"></script>

<!-- Site Js -->
<script src="{{ includePath }}js/site.js"></script>