<section class="overlay overlay-emory-blue text-left" style="background-color:#091e79">
    
    <img class="overlay-img" src="https://picsum.photos/1920/1080?random" alt="" role="presentation"/>
    
    <div class="container">
        <div class="row justify-content-sm-start">
            
            <div class="col-sm-8">
                <h2 class="overlay__title">We are Dedicated to the Better.<br/>Check out our services.</h2>
                <p class="lead">Synergistically promote leading-edge testing procedures before cross-unit resources. Intrinsicly provide access to backend process.</p>
                
                <div class="row">
                    
                    <div class="col-sm-6">
                        {% include "partials/snippets/checklist.njk" %}
                    </div><!-- .col-sm-6 -->

                    <div class="col-sm-6">
                        {% include "partials/snippets/checklist.njk" %}
                    </div><!-- .col-sm-6 -->

                </div><!-- .row -->
            
            </div><!-- .col-sm-8 -->
            
        </div><!-- .row -->
    </div><!-- .container -->
</section><!-- .overlay -->