<section class="people">
    <div class="container">
        
        {% include "partials/snippets/section-title~centered.njk" %}
        
        <div class="row justify-content-center">

            <div class="col-lg-4 col-md-8">
                <div class="people__item align-items-center justify-content-center">
                    <div class="people__img">
                        <img class="people__thumbnail img-fluid" alt="225x127" src="https://picsum.photos/225/127?random" />
                    </div><!-- .people__img -->
                    <div class="people__textarea">
                        <h2 class="people__name">Susan B. Anthony</h2>
                        <p class="people__title">Director of Events</p>
                        <p>Authoritatively impact functional networks for principle-centered ideas. Continually drive magnetic web-readiness and low-risk high-yield process.</p>
                    </div><!-- .people__textarea -->
                </div><!--.people__item -->
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4 col-md-8">
                <div class="people__item align-items-center justify-content-center">
                    <div class="people__img">
                        <img class="people__thumbnail img-fluid" alt="225x127" src="https://picsum.photos/225/127?random" />
                    </div><!-- .people__img -->
                    <div class="people__textarea">
                        <h2 class="people__name">Susan B. Anthony</h2>
                        <p class="people__title">Director of Events</p>
                        <p>Authoritatively impact functional networks for principle-centered ideas. Continually drive magnetic web-readiness and low-risk high-yield process.</p>
                    </div><!-- .people__textarea -->
                </div><!--.people__item -->
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4 col-md-8">
                <div class="people__item align-items-center justify-content-center">
                    <div class="people__img">
                        
                    </div><!-- .people__img -->
                    <div class="people__textarea">
                        <h2 class="people__name">Person no Photo</h2>
                        <p class="people__title">Just remove &lt;img&gt;</p>
                        <p>Authoritatively impact functional networks for principle-centered ideas. Continually drive magnetic web-readiness and low-risk high-yield process.</p>
                    </div><!-- .people__textarea -->
                </div><!--.people__item -->
            </div><!-- .col-lg-4 -->

        </div><!-- .row -->
    </div><!-- .container -->

</section><!-- .people -->