<nav class="section sidebar">
    <ul aria-label="Sidebar Navigation" class="list list-quicklinks">
        <li><a href="#">Home</a></li>
        <li><a href="#">Student Involvement</a></li>
        <li><a href="#">Engagement</a></li>
        <li><a href="#">Belonging</a></li>
        <li><a href="#">Barkley forum</a></li>
        <hr>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
        <li><a href="#">Nav item</a></li>
    </ul>
</nav>