<section class="section staff">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-8">

                <h2 class="section-title">
                    Meet the Staff
                </h2>
                <p class="text-center">Objectively disintermediate client-centered technology vis-a-vis granular markets. Seamlessly expedite multimedia.</p>
                <br />

            </div><!-- .col-lg-8 -->
        </div><!-- .row -->

        <div class="row">

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://picsum.photos/300/400?random" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://picsum.photos/300/400?image=1031" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://picsum.photos/300/400?image=1032" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://picsum.photos/300/400?image=1033" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://placehold.it/300x400" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://placehold.it/300x400" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://placehold.it/300x400" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            <div class="col-lg-3 col-sm-6">
                <div class="staff__item">
                    <img class="img-fluid" src="https://placehold.it/300x400" alt="300x400" />
                    <h3 class="staff__name">Eddie Edwards</h3>
                    <p class="staff__title">Associate Director of Robotics</p>
                </div><!-- .staff__item -->
            </div><!-- .col-lg-3 -->

            
        </div><!-- .row -->
        
    </div><!-- .container -->
</section><!-- .staff -->