<!--
 *
 http://idangero.us/swiper/get-started/
 *
-->
<section class="swipe-gallery">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-2">
                <h2 class="section-title">Emory Gallery</h2>
            </div><!-- .col-md-2 -->
            <div class="col-md-8">
                <p>Appropriately conceptualize state of the art products rather than innovative bandwidth. Conveniently engineer long-term high-impact methods.</p>
            </div><!-- .col-md-8 -->
        </div><!-- .row -->

        <br />
        
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <figure>
                        <img src="https://picsum.photos/800/450?random" alt="800x450" />
                        <figcaption>
                            <div class="figure-label">Figure Label</div>
                            <div class="figure-title">Figure Title or Description</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure>
                        <img src="https://picsum.photos/800/450?image=1023" alt="800x450" />
                        <figcaption>
                            <div class="figure-label">Figure Label</div>
                            <div class="figure-title">Figure Title or Description</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure>
                        <img src="https://picsum.photos/800/450?image=1024" alt="800x450" />
                        <figcaption>
                            <div class="figure-label">Figure Label</div>
                            <div class="figure-title">Figure Title or Description</div>
                        </figcaption>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure>
                        <img src="https://placehold.it/800x450" alt="800x450" />
                        <figcaption>
                            <div class="figure-label">Figure Label</div>
                            <div class="figure-title">Figure Title or Description</div>
                        </figcaption>
                    </figure>
                </div>
            
            </div><!-- .swiper-wrapper -->
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div><!-- .swiper-container -->

    </div><!-- .container -->
</section><!-- .swipe-gallery -->