<section class="section section-orange">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-8">

                <h2 class="section-title text-center">Making the Difference</h2>
                <p class="text-center">Phosfluorescently iterate maintainable infomediaries via viral testing procedures. Holisticly generate wireless leadership via customized solutions. Seamlessly reconceptualize parallel innovation rather than enabled metrics. Enthusiastically.</p>
            
            </div><!-- .col-lg-8 -->
        </div><!-- .row -->
    
        <ul class="owl-carousel testimonial-carousel">
            
            <li class="testimonial-carousel__item">
                <div class="testimonial-carousel__thumbnail">
                    <img alt="100x100" src="https://picsum.photos/100?image=1027"/>
                </div><!-- .testimonial-carousel__thumbnail -->

                <div class="testimonial-carousel__textarea">
                    <h3 class="testimonial-carousel__person">Susie B. Jordan</h3>
                    <p class="testimonial-carousel__title">Senior Cross-Sybiotic Engineer</p>
                    <blockquote>
                        "Interactively formulate vertical portals and future-proof partnerships. Dramatically productivate pandemic growth strategies via robust e-business. Efficiently enhance performance based e-commerce whereas scalable metrics. Progressively."
                    </blockquote>
                
                </div><!-- .testimonial-carousel_textarea -->

                <div class="testimonial-carousel__arrow" role="presentation"></div>
            </li><!-- .testimonial-carousel__item -->

            <li class="testimonial-carousel__item">
                <div class="testimonial-carousel__thumbnail">
                    <img alt="100x100" src="https://picsum.photos/100?image=1027"/>
                </div><!-- .testimonial-carousel__thumbnail -->

                <div class="testimonial-carousel__textarea">
                    <h3 class="testimonial-carousel__person">Susie B. Jordan</h3>
                    <p class="testimonial-carousel__title">Senior Cross-Sybiotic Engineer</p>
                    <blockquote>
                        "Interactively formulate vertical portals and future-proof partnerships. Dramatically productivate pandemic growth strategies via robust e-business. Efficiently enhance performance based e-commerce whereas scalable metrics. Progressively."
                    </blockquote>
                
                </div><!-- .testimonial-carousel_textarea -->

                <div class="testimonial-carousel__arrow" role="presentation"></div>
            </li><!-- .testimonial-carousel__item -->

            <li class="testimonial-carousel__item">    
                <div class="testimonial-carousel__thumbnail">
                    <img alt="100x100" src="https://picsum.photos/100?image=1027"/>
                </div><!-- .testimonial-carousel__thumbnail -->

                <div class="testimonial-carousel__textarea">
                    <h3 class="testimonial-carousel__person">Susie B. Jordan</h3>
                    <p class="testimonial-carousel__title">Senior Cross-Sybiotic Engineer</p>
                    <blockquote>
                        "Interactively formulate vertical portals and future-proof partnerships. Dramatically productivate pandemic growth strategies via robust e-business. Efficiently enhance performance based e-commerce whereas scalable metrics. Progressively."
                    </blockquote>
                
                </div><!-- .testimonial-carousel_textarea -->

                <div class="testimonial-carousel__arrow" role="presentation"></div>
            </li><!-- .testimonial-carousel__item -->

            <li class="testimonial-carousel__item">
                <div class="testimonial-carousel__thumbnail">
                    <img alt="100x100" src="https://picsum.photos/100?image=1027"/>
                </div><!-- .testimonial-carousel__thumbnail -->

                <div class="testimonial-carousel__textarea">
                    <h3 class="testimonial-carousel__person">Susie B. Jordan</h3>
                    <p class="testimonial-carousel__title">Senior Cross-Sybiotic Engineer</p>
                    <blockquote>
                        "Interactively formulate vertical portals and future-proof partnerships. Dramatically productivate pandemic growth strategies via robust e-business. Efficiently enhance performance based e-commerce whereas scalable metrics. Progressively."
                    </blockquote>
                
                </div><!-- .testimonial-carousel_textarea -->

                <div class="testimonial-carousel__arrow" role="presentation"></div>
            </li><!-- .testimonial-carousel__item -->

        </ul><!-- .owl-testimonial-carousel -->

        <div class="row justify-content-sm-center">
            <div class="col-md-5 col-lg-3">
                <a href="#" class="btn btn-sm btn-primary btn-center btn-solid">Read More Testimonials</a>
            </div><!-- .col-md-5 -->
        </div><!-- .row -->
        
    </div><!-- .container -->
</section><!-- .testimonial-carousel -->