<section class="section tiles">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-8">

                <h2 class="text-center">
                    <span class="section-label">Latest Articles</span>
                    <span class="section-title">Creating Memoriable Experiences</span>
                </h2>

            </div><!-- .col-lg-8 -->
        </div><!-- .row -->

        <div class="row row-spacer">

            <div class="col-lg-4">
                
                <article class="tiles__item">
                    <a href="#">
                        <div class="tiles__thumbnail">
                            <img src="https://picsum.photos/400/225?image=1053" alt="16:9 ratio">
                        </div><!-- .tiles__thumbnail -->
                        <div class="tiles__textarea">
                            <h3 class="tiles__headline">Headline for Article</h3>
                            <p>Phosfluorescently negotiate an expanded array of infrastructures and world-class networks. Monotonectally coordinate 2.0 technologies.</p>
                            <hr>
                            <a href="#" class="tiles__more" title="Read More"><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                        </div><!-- .tiles__textarea -->
                    </a>
                </article>

            </div><!-- .col-lg-4 -->

            <div class="col-lg-4">

                <article class="tiles__item">
                    <a href="#">
                        <div class="tiles__thumbnail">
                            <img src="https://picsum.photos/400/225?random" alt="16:9 ratio">
                        </div><!-- .tiles__thumbnail -->
                        <div class="tiles__textarea">
                            <h3 class="tiles__headline">Headline for Article</h3>
                            <p>Phosfluorescently negotiate an expanded array of infrastructures and world-class networks. Monotonectally coordinate 2.0 technologies.</p>
                            <hr>
                            <a href="#" class="tiles__more" title="Read More"><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                        </div><!-- .tiles__textarea -->
                    </a>
                </article>
                    
            </div><!-- .col-lg-4 -->

            <div class="col-lg-4">

                <article class="tiles__item">
                    <a href="#">
                        <div class="tiles__thumbnail">
                            <img src="https://picsum.photos/400/225?image=1018" alt="16:9 ratio">
                        </div><!-- .tiles__thumbnail -->
                        <div class="tiles__textarea">
                            <h3 class="tiles__headline">Headline for Article</h3>
                            <p>Phosfluorescently negotiate an expanded array of infrastructures and world-class networks. Monotonectally coordinate 2.0 technologies.</p>
                            <hr>
                            <a href="#" class="tiles__more" title="Read More"><span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                        </div><!-- .tiles__textarea -->
                    </a>
                </article>
                                        
            </div><!-- .col-lg-4 -->

        </div><!-- .row -->

        {% include "partials/snippets/section-cta~centered.njk" %}
        
    </div><!-- .container -->
</section><!-- .tiles -->