<section class="section timeline">
    <div class="container">

        <div class="row justify-content-sm-center">
            <div class="col-lg-8">

                <h2>
                    <span class="section-label">Timeline</span>
                    <span class="section-title">History in the Making</span>
                </h2>

            </div><!-- .col-lg-8 -->
        </div><!-- .row -->

        <div class="row justify-content-sm-center">

            <div class="col-lg-10">

                <div class="row row-spacer">
                    <div class="col-sm-11">
                        <h3 class="timeline__date">1837 - 1914</h3>
                        <p>Credibly iterate synergistic experiences through resource sucking models. Holisticly negotiate backward-compatible processes through world-class action items.</p>
                    </div><!-- .col-sm-11 -->
                </div><!-- .row -->

                <div class="row row-spacer justify-content-sm-end">
                    <div class="col-sm-11">
                        <h3 class="timeline__date">1914 - 1950</h3>
                        <p>Credibly build market positioning total linkage vis-a-vis B2C solutions. Phosfluorescently optimize market-driven niche markets.</p>
                    </div><!-- .col-sm-11 -->
                </div><!-- .row -->

                <div class="row row-spacer">
                    <div class="col-sm-11">
                        <h3 class="timeline__date">1950 - 1972</h3>
                        <p>Distinctively evolve performance based systems through B2C methods of empowerment. Seamlessly conceptualize collaborative best practices via.</p>
                    </div><!-- .col-sm-11 -->
                </div><!-- .row -->

                <div class="row row-spacer justify-content-sm-end">
                    <div class="col-sm-11">
                        <h3 class="timeline__date">1972 - 2014</h3>
                        <p>Progressively procrastinate enterprise web-readiness whereas impactful outsourcing. Rapidiously evisculate vertical e-tailers via sustainable relationships. Intrinsicly foster unique total linkage with focused catalysts for change. Monotonectally enable exceptional alignments.</p>
                    </div><!-- .col-sm-11 -->
                </div><!-- .row -->

                <div class="row row-spacer">
                    <div class="col-sm-11">
                        <h3 class="timeline__date">2014 - present</h3>
                        <p>Dramatically target enterprise metrics with front-end quality vectors. Holisticly grow competitive benefits via client-focused data. Collaboratively seize revolutionary expertise through effective mindshare. Professionally.</p>
                    </div><!-- .col-sm-11 -->
                </div><!-- .row -->

            </div><!-- .col-lg-12 -->

        </div><!-- .row -->

    </div><!-- .container -->
</section><!-- .tiles -->