<section class="section section-grey">
    <div class="container">

        <ul class="owl-carousel twoColumn-carousel">
            
            <li class="twoColumn-carousel__item">
                <div class="row justify-content-sm-center align-items-center">
                    <div class="col-lg-5">
                        <img alt="350x197" src="https://picsum.photos/350/197?random"/>
                    </div><!-- .col-lg-5 -->
                    <div class="col-lg-5">
                        <h3 class="twoColumn-carousel__title">A History of Making a Difference at Emory.</h3>
                        <p>Distinctively embrace cross-unit value and turnkey expertise. Authoritatively engage parallel synergy whereas.</p>
                        <br />
                        <a href="#" class="btn btn-lg btn-primary">Call Out</a>
                    </div><!-- .col-lg-5 -->
                </div><!-- .row -->
            </li><!-- .twoColumn-carousel__item -->

            <li class="twoColumn-carousel__item">
                <div class="row justify-content-sm-center align-items-center">
                    <div class="col-lg-5">
                        <img alt="350x197" src="https://picsum.photos/350/197?random"/>
                    </div><!-- .col-lg-5 -->
                    <div class="col-lg-5">
                        <h3 class="twoColumn-carousel__title">A History of Making a Difference at Emory.</h3>
                        <p>Distinctively embrace cross-unit value and turnkey expertise. Authoritatively engage parallel synergy whereas.</p>
                        <br />
                        <a href="#" class="btn btn-lg btn-primary">Call Out</a>
                    </div><!-- .col-lg-5 -->
                </div><!-- .row -->
            </li><!-- .twoColumn-carousel__item -->

            <li class="twoColumn-carousel__item">
                <div class="row justify-content-sm-center align-items-center">
                    <div class="col-lg-5">
                        <img alt="350x197" src="https://picsum.photos/350/197?random"/>
                    </div><!-- .col-lg-5 -->
                    <div class="col-lg-5">
                        <h3 class="twoColumn-carousel__title">A History of Making a Difference at Emory.</h3>
                        <p>Distinctively embrace cross-unit value and turnkey expertise. Authoritatively engage parallel synergy whereas.</p>
                        <br />
                        <a href="#" class="btn btn-lg btn-primary">Call Out</a>
                    </div><!-- .col-lg-5 -->
                </div><!-- .row -->
            </li><!-- .twoColumn-carousel__item -->

        </ul><!-- .owl-twoColumn-carousel -->
        
    </div><!-- .container -->
</section><!-- .twoColumn-carousel -->